In [1]:
import pymongo

In [3]:
conn=pymongo.MongoClient("mongodb://localhost:27017")
db=conn["cars"]
col=db['carukal']

In [31]:

values=[{"name":"Audi","price":20000},
        {"name":"volvo","price":20000},
        {"name":"swift","price":8000},
        {"name":"Benz","price":100000}]
col.insert_many(values)

InsertManyResult([ObjectId('683d7dcd13367fb6db6ceb1f'), ObjectId('683d7dcd13367fb6db6ceb20'), ObjectId('683d7dcd13367fb6db6ceb21'), ObjectId('683d7dcd13367fb6db6ceb22')], acknowledged=True)

In [46]:
col.insert_one({"name":"BE6","price":10000})

InsertOneResult(ObjectId('683d82f913367fb6db6ceb23'), acknowledged=True)

In [47]:
for document in col.find({},{"name":1,"price":1,"_id":0}):
    print(f"{document['name'],document['price']}")

('Audi', 20000)
('volvo', 20000)
('swift', 8000)
('Benz', 100000)
('BE6', 10000)

In [33]:
total=col.count_documents({})
print(f"total cars:{total}")

total cars:4

In [34]:
for document in col.find({"price":{"$gt":50000}}):
    print(f"name:{document['name']}")

name:Benz

In [45]:
for document in col.find().sort({"price":-1}):
    print(f"{document['name']},{document['price']}")

Benz,100000
Audi,20000
volvo,20000
swift,8000

In [49]:
for document in col.find().skip(3).limit(2):
    print(f"{document['name']},{document['price']}")

Benz,100000
BE6,10000