In [1]:
import pymongo
conn=pymongo.MongoClient("mongodb://localhost:27017")
db=conn['exam1']
col=db['xam1']

In [2]:
values=[{"_id":1,"Name":"Anjali","Place":"tvm","Gender":"female","Mark":85,"Activity_point":90,"Department":"MCA"},
        {"_id":2,"Name":"Aishu","Place":"pkd","Gender":"female","Mark":90,"Activity_point":85,"Department":"MCA"},
        {"_id":3,"Name":"Chai","Place":"ekm","Gender":"female","Mark":80,"Activity_point":92,"Department":"Civil"},
        {"_id":4,"Name":"Nandhut","Place":"tcr","Gender":"female","Mark":95,"Activity_point":83,"Department":"MCA"}]
col.insert_many(values)

InsertManyResult([1, 2, 3, 4], acknowledged=True)

In [7]:
col.insert_one({"_id":5,"Name":"anu","Place":"palakkd","Gender":"Male","Marks":40,"Activity_point":10,"Department":"MCA"})

InsertOneResult(5, acknowledged=True)

In [4]:
col.update_many({"Mark":{"$gt":90}},
                {"$set":{"Activity_point":100}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [5]:
for document in col.find({"Gender":"female","Department":"Civil"},{"Name":1,"_id":0}).sort({"Marks":-1}):
    print(document)

{'Name': 'Chai'}

In [9]:
total=0
for document in col.find({"Marks":{"$lt":45}},{}):
    total=total+1
print(f"failed students is:{total}")

failed students is:1

In [12]:
total=0
for document in col.find({"Mark":{"$gt":90}},{}):
    total=total+1
print(f"total number of greater than 90 is :{total}")

total number of greater than 90 is :1

In [13]:
col.update_many({"Activity_point":{"$gt":90}},{"$set":{"Mark":100}})

UpdateResult({'n': 2, 'nModified': 2, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [14]:
for document in col.find({}):
    print(document)

{'_id': 1, 'Name': 'Anjali', 'Place': 'tvm', 'Gender': 'female', 'Mark': 85, 'Activity_point': 90, 'Department': 'MCA'}
{'_id': 2, 'Name': 'Aishu', 'Place': 'pkd', 'Gender': 'female', 'Mark': 90, 'Activity_point': 85, 'Department': 'MCA'}
{'_id': 3, 'Name': 'Chai', 'Place': 'ekm', 'Gender': 'female', 'Mark': 100, 'Activity_point': 92, 'Department': 'Civil'}
{'_id': 4, 'Name': 'Nandhut', 'Place': 'tcr', 'Gender': 'female', 'Mark': 100, 'Activity_point': 100, 'Department': 'MCA'}
{'_id': 5, 'Name': 'anu', 'Place': 'palakkd', 'Gender': 'Male', 'Marks': 40, 'Activity_point': 10, 'Department': 'MCA'}