In [2]:
import pandas as pd

In [3]:
#1. Write a python program to implement List-to-Series Conversion.

listdata=[1,6,5,3]
series=pd.Series(listdata)
print(series)

0    1
1    6
2    5
3    3
dtype: int64

In [ ]:
#2.Write a python program to Generate the series of dates from 1st May, 2021 to 12th  
#May, 2021 (both inclusive). 
 
 #pd.date_range(start,end)

print(pd.date_range("2021-05-01","2021-05-12"))

#datetime[ns]--ns=nanosecondsprecision

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [5]:
#3.Given a dictionary, convert it into corresponding dataframe and display it. 

data={
    "Name":["Alice","Bob","Charlie"],
    "Age":[24,30,28],
    "City":["Delhi","Mumbai","Banglore"]
}

df=pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   24     Delhi
1      Bob   30    Mumbai
2  Charlie   28  Banglore

In [6]:
#4.given an 2d list convert it into dataframes

listdata=[
    [1,'Alice',10],
    [2,'Bob',15],
    [3,'Don',25]
]
df=pd.DataFrame(listdata,columns=['id','name','score'])
print(df)

   id   name  score
0   1  Alice     10
1   2    Bob     15
2   3    Don     25

In [8]:
#5. Given a CSV file, read it into a dataframe and display it. 
df=pd.read_csv("gold.csv")
print(df)

   Country  Gold
0      USA    46
1       UK    27
2    China    26
3   Russia    19
4  Germany    17

In [14]:
#6.Given a dataframe, sort it by multiple columns. 
listdata=[
    [1,'Alice',10],
    [2,'Bob',15],
    [3,'Don',25]
]
df=pd.DataFrame(listdata,columns=["id","name","age"])
print(df)
print("sorted dataframe")
print(df.sort_values(by=["name","age"],ascending=[False,False]))

   id   name  age
0   1  Alice   10
1   2    Bob   15
2   3    Don   25
sorted dataframe
   id   name  age
2   3    Don   25
1   2    Bob   15
0   1  Alice   10

In [ ]:
#7. Given a dataframe with custom indexing, convert and it to default indexing and  
#display it. 

#we use df.reset_index(drrope=True)
listdata=[
    [1,'Alice',10],
    [2,'Bob',15],
    [3,'Don',25]
]

df=pd.DataFrame(listdata,columns=["ID","NAME","AGE"],index=["p1","p2","p3"])
df=df.reset_index(drop=True) #we dont set this in a varuiable no change.
print(df)  #drop not enabled it will show both indexes

   ID   NAME  AGE
0   1  Alice   10
1   2    Bob   15
2   3    Don   25

In [19]:
#8.Given a dataframe, select first 2 rows and output them. 
#df.head()
#df.iloc[:2] index based selection
#df[0:2] slicing

df1=df.head(2)
print(df1)
df2=df.iloc[1:3]
print(df2)

   ID   NAME  AGE
0   1  Alice   10
1   2    Bob   15
   ID NAME  AGE
1   2  Bob   15
2   3  Don   25

In [ ]:
#9 Given is a dataframe showing name, occupation, salary of people. Find the average  
#salary per occupation
data = [ 
    ['Alice','Teacher',25000], 
    ['Bob','Doctor',55000], 
    ['Charlie','Teacher',20000], 
    ['Dylan','Doctor',35000], 
    ['Emma','Engineer',65000] 
] 

df=pd.DataFrame(data,columns=['name','occupation','salary'])
avg=df.groupby('occupation')['salary'].mean()
print(avg)

#groupby crates group like doctor (5000,3000), [salary] takes the salary from each groups

occupation
Doctor      45000.0
Engineer    65000.0
Teacher     22500.0
Name: salary, dtype: float64

In [ ]:
#10.Given a dataframe with NaN Values, fill the NaN values with 0. 
#nan means not a number or missing values
 
 #if orient='index' dict{ p1 []} as it is but if we dont give the orient it will take it as column (the diven each value list as columns)
 #to replace na using fillna()--> so many methods

import numpy as np 
data={
    "p1":["Aishu",100],
    "p2":["Missi",np.nan]
}

df=pd.DataFrame.from_dict(data,orient='index')
df=df.fillna(0)
print(df)

        0      1
p1  Aishu  100.0
p2  Missi    0.0

In [26]:
#11.11. Given is a dataframe showing Company Names (cname) and corresponding Profits  
#(profit). Convert the values of Profit column such that values in it greater than 0 are  
#set to True and the rest are set to False. 

data={
    "cname":["A","B","C"],
    "profit":[1000,-500,1]
}

df=pd.DataFrame(data)
df["profit"]=df["profit"]>0
print(df)

  cname  profit
0     A    True
1     B   False
2     C    True

In [29]:
""" 12. Given are 2 dataframes, with one dataframe containing Employee ID (eid), Employee  
Name (ename) and Stipend (stipend) and the other dataframe containing Employee ID  
(eid) and designation of the employee (designation). Output the Dataframe containing  
Employee ID (eid), Employee Name (ename), Stipend (stipend) and Position  
(position). """

data1 =[ 
    [101,'John',30000], 
    [102,'Amith',35000], 
    [103,'Sona',20000] 
] 

df1=pd.DataFrame(data1,columns=["ID","Name","Salary"])
data2 =[ 
    [101,'Developer'], 
    [102,'Developer'], 
    [103,'Tester'] 
]
df2=pd.DataFrame(data2,columns=["ID","POSITION"])
df3=pd.merge(df1,df2,how='inner',on="ID")
print(df3)

    ID   Name  Salary   POSITION
0  101   John   30000  Developer
1  102  Amith   35000  Developer
2  103   Sona   20000     Tester